body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(232, 232, 177, 0.685);
    font-family: Verdana;
}
h1{
    margin: 20px 0px 0px 50px;
    font-weight: bold;
}
img{
    float: left;
    margin-right: 10px;
}
#cont{
    margin: 50px 50px 0px 50px;
}
p{
    font-size: 20px;
    font-weight: 500;
}
span{
    color: rgb(216, 90, 90);
}
#bottam{
    margin-top: 50px;
}
h2{
    clear: both;
    font-weight: bold;
}
#new1{
    color: rgb(197, 60, 60);
}