h1{
    text-align: center;
    font-size: 100px;
    
}

div{
    display: flex;
    justify-content: center;
    padding: 60px 100px 0px 100px;
    font-size: 50px;
}
#imgs{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 200px;
}
body{
    color: white;
    background-color: rgba(58, 58, 240, 0.76);
}
p{
    padding: 10px 100px 0px 100px;
}