
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one img{
    width: 100%;
    height: 90vh;
}


.one div{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 450px;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.one button{
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 170, 1);
    width: 150px;
    border: none;
}


.two{
    display: flex;
    color: rgb(6, 73, 218);
}
.two div{
    width: 50%;
    height: 70vh;
}
.t1{
    background-color: aliceblue;
}
.t2{
    background-color: rgb(210, 207, 207);
}
.two .t2{
    position: relative;
}
.two img{
    position: absolute;
    top: 50px;
    left: -50px;
}
.cont{

    padding-top: 50px;
    padding-left: 50px;
}
.cont p{
    width: 400px;
    font-family: "Boldonse", system-ui;
    font-weight: lighter;
    font-size: 10px;
    margin-top: 20px;
    color: black;
}

.last {
    padding: 60px;
    display: flex;
}

.last h1 {
    color: rgb(6, 73, 218);
    margin-bottom: 40px;
}

.img-cont {
    margin-left: 50px;
    gap: 30px;
    max-width: 700px;
}

.img-cont img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

footer h1{
    font-size: 50px;
        font-family: "Boldonse", system-ui;
    text-align: center;
    color: rgb(6, 73, 218);
}
