*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 50px;
    padding: 20px;
}
nav ul{
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: aqua;
    font-weight: 600;
}
nav p{
    padding-left: 50px;
    font-size: 32px;
    font-weight: 600;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
.top img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
main .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    background-color:rgb(0, 255, 234);
    row-gap: 10px;
    padding: 10px;
    padding-bottom: 30px;
}



.bottam{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.bottam div{
    width: 400px;
}
.bottam h3{
    margin-bottom: 20px;
}
.bottam img{
    width: 350px;
}
